<html>
	<head>

		<!--
		palette:
		dark blue: #003F72
		yellow: #FFD166
		salmon: #EF476F
		offwhite: #e7d7d7
		Light Blue: #118AB2
		Light green: #7DDF64
		-->

		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<title>Python Programming Tutorials</title>

		<meta name="description" content="Python Programming tutorials from beginner to advanced on a massive variety of topics. All video and text tutorials are free.">

		<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="google-site-verification" content="3fLok05gk5gGtWd_VSXbSSSH27F2kr1QqcxYz9vYq2k" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <style>
            @media (min-width:992px) {
            #aside {
                width:250px;
            }
            pre { tab-size: 4;}
            .btn {background-color:#FFD166;
                  color:#000;
                  height:auto;
                  font-color:#000;
                  }
            .btn:hover {background-color:#FFD166;
                        }
    
            }
            </style>
</head>    

    <div class="container" style="max-width:1500px; min-height:100%">
        <!--Notification:-->
        <!--<p style="font-size:80%">TensorFlow.js Livestream:  <a href="https://www.youtube.com/watch?v=NjSlj95lliM" target="blank"><strong>Deep Learning in the browser</strong></a></p>-->
        <!--End Notification:-->          
 <body>
  
    <div class="container">
      <h4>Register</h4>
      <br>

      
      
        <form method=post action="/register/">
          <dl>
            
<dt><label for="username">Username</label>
<dd><input class="form-control" id="username" name="username" type="text" value="">

</dd>

            
<dt><label for="email">Email Address</label>
<dd><input class="form-control" id="email" name="email" type="text" value="">

</dd>

            
<dt><label for="password">Password</label>
<dd><input class="form-control" id="password" name="password" type="password" value="">

</dd>

            
<dt><label for="confirm">Repeat Password</label>
<dd><input class="form-control" id="confirm" name="confirm" type="password" value="">

</dd>

            
            <p>By registering, you accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a></p>


          </dl>
          <p><input class="btn btn-primary" type=submit value=Register>
        </form>
      
    <div class="container">
       <br>
        
      </div>
    </div>

 </body>


        </div>
    </div>
