<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block b %}
<div class="jumbotron">
    <div class="container">
    <h1>WELCOME TO LOFO</h1>
    <ul>
        <li>THE BEST PLACE FOR YOUR 'LOST&FOUND' ITEMS</li>
        <li>ANY LOST CARD WITH AN UID CAN BE SEARCHED HERE BY POSTING YOUR QUERIES ABOUT THAT</li>
        <li>ANY FOUND CARD WITH AN UID CAN BE POSTED HERE BY POSTING THE DETAILS ABOUT THAT</li>
        <li>CAN BE UPDATED VIA MAILS/MESSAGES</li>
    </ul>
</div>
</div>
{% endblock b %}
    