<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
        h1{
            color: darkviolet;
        }
    body{
        color: crimson;
    }
    thead{
        color: orange;
    }
    </style>
</head>
<body>
    <div class="container" align="center">
 
        {% block b %}
        
        {% endblock b %}
        <br><br><br><br>

          <a href="/home/create"><input type="button" class="btn btn-success btn-large" value="Employee"></a>&nbsp;&nbsp;
          <a href="/home/companycreate"><input type="button" class="btn btn-success btn-large" value="Company"></a><br><br>
          <a href="/home/index"><input type="button" class="btn btn-warning btn-large" value="Employee List"></a>&nbsp;&nbsp;
          <a href="/home/companyindex"><input type="button" class="btn btn-warning btn-large" value="Company List"></a>
    </div>

   
</body>
</html>