body{
    background-image: url(https://images.unsplash.com/photo-1454779132693-e5cd0a216ed3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
  
    .jumbotron{
       align-self: center;
       margin: inherit;

    }

    
    